.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.field {
  padding-top: 30px;
}

.sort-btn {
  border-bottom: 1px dashed #333;
  cursor: pointer;
  display: inline-block;
}

.sort-btn._asc::after {
  content: '▲';
  display: inline-block;
  font-size: 75%;
  margin-left: 3px;
  vertical-align: middle;
}

.sort-btn._desc::after {
  content: '▼';
  display: inline-block;
  font-size: 75%;
  margin-left: 3px;
  vertical-align: middle;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
